* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

ul li {
    padding: 0 2vw;
    list-style-type: none;
}

body {
    height: 100vh;
}



main,
footer {
    margin: 5vh 0 0 0;
}

ul {
    padding: 5vh 0;
}

ul,
footer {
    color: white;
    background-color: blue;
}

.hero-section {
    background-color: red;
    color: white;
    height: 20vh;
    text-align: center;
    padding: 5vh 0;
}

.parent-container {
    display: flex;
    flex-direction: row;
}

main {
    height: auto;
    padding: 0 5vw;
    width: auto;
    margin: 5vh 5vw;
}

aside {
    background-color: purple;
    color: white;
    height: 50vh;
    overflow-y: scroll;
    width: 20vw;
}

/* CSS GRID */

/* Flex Box */